body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin-top: 20px;
  font-size: 2em;
}

p {
  font-size: 1.2em;
  color: #555;
}

.slider {
  position: relative;
  max-width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 450px; /* Ancho fijo */
  height: 500px; /* Alto fijo */
  object-fit: cover; /* Para que la imagen se recorte y se ajuste bien */
  margin-right: 20px; /* Espacio entre imágenes */
}

.navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.navigation button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.navigation button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
